body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: small;
	display: flex;
	flex-direction: column;
}

.content {
	display: flex;
	flex-direction: column;
	width: auto;
	flex: 1;
	padding: 10px;
	overflow: hidden;
}

.banner {
	margin: 0;
	padding: 10px;
	background-color: #bbf0ff;
}

.banner_content {
	margin-top: 30px;
}

.banner > button {
	padding-top: 0px;
	position: relative;
	float: right;
}

.red {
	font-weight: bold;
	font-size: large;
	margin-bottom: 4px;
}

.btns {
	margin-top: 10px;
}

.word_count {
	position: relative;
	float: right;
}

.word_count::after {
	content: " words";
}

.char_count {
	position: relative;
	float: right;
	margin-right: 10px;
}

.char_count::after {
	content: " chars";
}

#file_input {
	margin-top: 10px;
}

textarea {
	flex: 1;
	font-family: sans-serif;
	font-size: medium;
	border: 0;
}

textarea:focus {
	outline: none;
}

.textarea_monospace {
	font-family: monospace;
	font-size: large;
}
