body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: small;
}

.content {
	display: flex;
	flex-direction: column;
	width: auto;
	height: auto;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	padding: 10px;
	overflow: hidden;
}

.btns {
	margin-top: 10px;
}

textarea {
	flex: 1;
	margin-top: 10px;
	font-family: sans-serif;
	font-size: small;
}

.textarea_monospace {
	font-family: monospace;
}
